name: Build and Test
on:
  push:
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
          
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Nerdbank.GitVersioning
        uses: dotnet/nbgv@v0.4.2
        with:
          setAllVars: true

      - name: Run the build script
        uses: cake-build/cake-action@v3
        with:
          project-path: ${{ github.workspace }}/build/Build.csproj
          target: Pack

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6
        with:
          if-no-files-found: warn
          name: packages
          path: ./artifacts/*.nupkg
