name: Publish

on:
  push:
    tags:
      - 'v*' # Trigger on version tags like v1.0.0, v1.0.1

jobs:
  release:
    name: Release
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Nerdbank.GitVersioning
        uses: dotnet/nbgv@v0.4.2
        with:
          setAllVars: true
          
      - name: Build & Publish
        uses: cake-build/cake-action@v3
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        with:
          project-path: ${{ github.workspace }}/build/Build.csproj
          target: Github